@media screen and (max-width: 1280px){
     /*____ Content ____*/
    .container{
        margin: 0 auto;
        max-width:  1200px;
        width: 100%;
    }
    /*____ NAVBAR ____*/
    .navbar .navbar__content {
        justify-content: space-between;
    }
    .navbar .navbar__content .logoDr{
        width: 15%;
    }
    .nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*____ BLOG ____*/
    .contenido-blog{
        padding: 0px 20px;
    }
    
    /*____ CONSULTAS ____*/
    
    
    /*____ FOOTER ____*/
    .row-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .copyright {
        text-align: center;
    }
}

@media screen and (max-width: 1050px) {
    .contenido-blog .details-blog article {
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }
    .contenido-blog .details-blog article > img {
        width: 90%;
        border-radius: 15px;
        margin-right: 15px;
    }
    .contenido-blog .details-blog article .textBlog {
        width: 90%;
        height: max-content;
    }
}   

@media screen and (max-width: 990px){
    .container{
        max-width: 95%;
    }
    /*____ HEADER ____*/
    .information a, .information a i{
        text-decoration: none;
        color: #ffffff;
        margin-right: 10px;
        font-size: 13px;
    }
    .links-redes ul li{
        background-color: #ffffff;
        margin-left: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    /*____ NAVBAR ____*/
    .navbar .navbar__content .logoDr{
        width: 180px;
    }
    .logoDr img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .nav ul li a{
        font-weight: 500;
        font-size: 12px;
    }
    .btn-nav{
        background-color: var(--headertop-btn-sub);
        color: #ffffff;
        height: 46px;
        width: 150px;
        cursor: pointer;
    }
    .nav ul .btn-nav a{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        margin: 0 5px;
    }
    /*____ SLIDER ____*/
    .content-slider h2{
        font-size: 36px;
    }
    .content-slider p{
        font-size: 24px;
    }
    .container-slider > li .content-slider .btnSlider{
        width: max-content;
        background-color: var(--btnslider);
        padding: 12px 26px;
        border-radius: 30px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    .container-slider > li{
        width: 100%;
        height: 400px;
    }
    /*____ ESPECIALIDADES ____*/
    .especialidades .row aside a {
        width: 100%;
        box-sizing: border-box;
        min-height: 1px;
        margin: 15px 0px;
        min-height: 1px;
    }
    
    /*____ BLOG ____*/
    .contenido-blog .details-blog article {
        display: flex;
        flex-wrap: wrap;
        
    }
    .contenido-blog .details-blog article:not(article:nth-child(2)):not(article:last-child){
        align-items: flex-start;
    }
    .contenido-blog .details-blog article:not(article:nth-child(1)):not(article:nth-child(3)){
        align-items: flex-end;
    }
    .contenido-blog .details-blog article > img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 0;
    }
    .contenido-blog .details-blog article .textBlog{
        width: 100%;
        margin-top: 10px;
    }
    /*____ FORM ____*/
    .formulario{
        height: auto;
        padding-bottom: 0;
    }
    .form-container form{
        width: 50%;
        background-color: #fff;
        box-shadow: 0px 3px 30px 0px rgba(24.00000126050871, 22.000001393193834, 43.0000000000001, 0.14);
        border-radius: 15px;
        padding: 20px 35px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        transform: translateY(-100px);
    }
    .footer{
        height: auto;
    }
    .row-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row-footer > section{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 90%;
    }
    /*____ BLOG ____*/
    .contenido-blog .details-blog {
        display: flex;
        flex-direction: column;
        margin: 40px 0;
    }
    
    .contenido-blog .details-blog article {
        width: 100%; 
        padding: 10px 0;
        margin-bottom: 20px; 
    }
    
    .contenido-blog .details-blog article > img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 15px; 
    }
    
    .contenido-blog .details-blog article .textBlog {
        width: 100%; 
    }
    
}
@media screen and (max-width: 576px){
    .container{
        max-width: 90%;
    }

    /*____ INFORMACION ____*/

    .information a, .information a i{
        text-decoration: none;
        color: #ffffff;
        margin-right: 10px;
        display: flex;
        font-size: 11px;
    }

    /*____ ESPECIALIDADES ____*/

    .especialidades .row aside a {
        width: calc(100% / 2 - 1.5rem);
        margin: 0 0.75rem;
    }
    .servi-card {
        text-align: center;
        padding: 30px 15px;
        border-radius: 15px;
    }
    .blanco {
        color: #ffffff;
    }
    .servi-card h4 {
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    
    /*____ PARTE DEL DOCTOR ____*/

    .dr-section{
        flex-direction: column;
        align-items: center;
    }
    .dr-section > img{
        margin-bottom: 30px;
    }
    .btn-dr{
        margin-top: 35px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .about-dr{
        padding: 30px 12px;
    }
    .estudios{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 20px;
        padding: 0px 12px;
    }
    .estudios div{
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;   
        width: 100%;
        
    }
    .estudios div:first-child img{
        width: 120px;
        height: 80px;
    }
    .estudios div img{
        width: 80px;
        max-width: 100%;
    }
    .estudios div:last-child{
        grid-column: span 1;
    }
    .estudios div p {
        padding: 30px 0px;
    }

    /*____ BLOG ____*/
    .contenido-blog .details-blog article:not(article:nth-child(2)):not(article:last-child){
        padding: 0;
    }
    .contenido-blog .details-blog{
        margin: 0;
    }

    .title-blog p{
        color: var(--texto);
        font-size: 16px;
        margin-bottom: 25px;
    }

    .btnVerTodos{
        background-color: var(--headertop-btn-sub);
        color: #ffffff;
        height: 46px;
        width: 151px;
        font-size: 14px;

    }

    /*formulario*/
    .form-container{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .form-container form{
        transform: none;
        width: 100%;
        margin: 20px 0 40px 0;
    }
    .form-container .form-info{
        width: 100%;
    }

    /*Footer*/
    
    .ubicanos-footer h3{
        font-size: 23px;
        margin-top: 15px;
    }

    .ubicanos-footer p{
        font-size: 17px;
    }

    .footer-content{
        padding-top: 20px;
    }
}
@media screen and (max-width: 390px){
    
}