@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --color-icono : #325070;
    --headertop-btn-sub : #0E3C80;
    --btnslider: #223D80;
    --btndoctor: #F5AD38;
    --navletter: #2B2B2B;
    --especialidades: #457baa;
    --texto: #545454;
    --footer: #33566F;
    --copyright: #335369;
}
div {
    display: block;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family:  'Roboto', sans-serif;
    outline: none;
    transition: .2s;
}
main section{
    width: 100%;
    padding: 50px 0;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
}
/*-------- CONTENIDO INFORMACION HEADER --------*/
header{
    /* height: calc(100vh - 220px); */
}
.header-info{
    background-color: var(--headertop-btn-sub);
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentInformation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.information{
    width: 100%;
    justify-content: left;
    align-items: center;
    
}
.information a, .information a i{
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
}
.links-reades ul{
    display: flex;
}
.links-reades ul li{
    background-color: #ffffff;
    margin-left: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.links-reades ul li a{
    text-decoration: none;
    color: var(--color-icono);
}
.links-reades div{
    display: none;
}

/*-------- NAVBAR --------*/
.navbar{
    padding: 17px 0px;
    height: 100px;
    background-color: #ffffff;
}
.navbar__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li a{
    color: var(--navletter);
    font-weight: 500;
    margin: 0px 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li:not(:last-child) a::before {
    content: '';
    width: 0;
    position: absolute;
    height: 2px;
    background-color: var(--color-icono);
    top: 100%;
    left: 0;
    transition: .2s;
}
.nav ul li a:hover::before {
    width: 100%;
}
.btn-nav{
    background-color: var(--headertop-btn-sub);
    color: #ffffff;
    margin-left: 10px;
    height: 46px;
    width: 220px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.nav ul .btn-nav a{
    color: #ffffff; 
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

/*-------- SLIDERS --------*/
.slider-header{
    width: 100%;
    height: auto;
    position: relative;
}
.container-slider{
    user-select: none;
}
.container-slider > li{
    width: 100%;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-slider > li > *{
    position: absolute;
}
.container-slider > li:not(li:first-child){
    top: 0;
    opacity: 0;
    position: absolute;
}
.container-slider > li >img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.container-slider > li .content-slider{
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 12%;
    font-size: 2.3rem;
    gap: 10px;
    color: #fff;
}
.container-slider > li .content-slider .info-slider{
    height: auto;
}
.container-slider > li .content-slider .btnSlider{
    width: max-content;
    background-color: var(--btnslider);
    font-size: 1.5rem;
    padding: 12px 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
}
.container-slider + ul{
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 35px;
    gap: 20px;
    display: flex;
}
.button-active{
    color: var(--btnslider);
}


/*-------- ESPECIALIDADES --------*/

.esp-title h3 {
    color: #0e3c80;
    font-size: 35px;
    line-height: 110%;
    margin: 1.9466666667rem 0 1.168rem 0;
    font-weight: 400;
}
.esp-title p {
    color: #545454;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 14px;
    
}
.esp-title img {
    margin: 10px;
}
.especialidades .row {
    display: flex;
    flex-direction: column;
}

.especialidades .row .esp-title {
    width: 100%;
    text-align: center;
}
.especialidades .row aside {
    content: "";
    width: 100%;
    display: table;
    clear: both;
}
.especialidades .row aside a {
    width: calc(100% / 3 - 1.5rem);
    float: left;
    box-sizing: border-box;
    min-height: 1px;
    margin: 0 0.75rem;
    min-height: 1px;
}
.servi-card {
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 24px 12px;
    position: relative;
    margin: 10px 0;
}
.servi-card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(25, 93, 150, 0.8);
}
.content-esp {
    position: relative;
}
.blanco {
    color: #ffffff;
}
img {
    max-width: 100%;
}
.servi-card h4 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(4, 4, 4, 0.25);
    margin: 1.52rem 0 0.912rem 0;
    line-height: 110%;
}




/*-------- INFO DOCTOR --------*/
.drInfo{
    width: 100%;
    background: url("../img/doctor/fondo1.jpg") no-repeat fixed;
    background-size: cover;
}
.dr-section{
    display: flex;
    justify-content: space-between;
}
.dr-section > img{
    width: 404px;
    height: 581px;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about-dr{
    color: #ffffff;
    padding: 0px 12px;
}
.about-dr p{
    font-size: 16px;
    margin-bottom: 14px;
}
.title-line{
    border-left: 4px solid var(--btndoctor);
    padding-left: 15px;
    margin: 0px 0px 20px;
}
.title-about h1{
    font-size: 32px;
    font-weight: 400;
}
.title-about h3{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px 10px;
}
.btn-dr{
    color: #ffffff;
    text-transform: uppercase;
    background-color: var(--btndoctor);
    font-weight: 600;
    font-size: 14px;
    height: 46px;
    width: 249px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 100px;
}
.btn-dr i{
    margin-right: 10px;
}
.estudios div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.estudios div:first-child img{
    width: 100px;
}
.estudios div img{
    width: 60px;
}
.estudios div p{
    padding: 0px 30px;
}


/*-------- BLOG --------*/
.title-blog h2{
    color: var(--headertop-btn-sub);
    font-weight: 400;
    font-size: 32px;
}
.title-blog p{
    color: var(--texto);
    font-size: 16px;
}
.contenido-blog .details-blog{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
}
.contenido-blog .details-blog article{
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.contenido-blog .details-blog article:not(article:nth-child(2)):not(article:last-child){
    padding-right: 20px;
}
.contenido-blog .details-blog article > img{
    width: 50%;
    border-radius: 5px;
    margin-right: 15px;
}
.contenido-blog .details-blog article .textBlog{
    width: 50%;
    height: max-content;
}
.textBlog h3{
    color: var(--headertop-btn-sub);
}
.contenido-blog .details-blog article .textBlog p{
    color: var(--texto);
    margin: 15px 0;
}
.contenido-blog .details-blog article .textBlog a{
    color: var(--btndoctor);
    font-weight: 500;
}
.contenido-blog .details-blog article .textBlog a:hover i{
    transform: translateX(10px);
}
.btnVerTodos{
    background-color: var(--headertop-btn-sub);
    color: #ffffff;
    height: 46px;
    width: 151px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
}

/*-------- FORMULARIO-CONTACTO --------*/
.formulario{
    height: 100vh;
    padding-top: 0;
}
.form-container{
    display: flex;
}
.form-container .form-info{
    width: 50%;
    padding: 10px 50px 10px 10px;

}
.form-container .form-info .info-contact h2{
    font-size: 32px;
    margin-top: 40px;
    line-height: 80px;
    font-weight: 500;
    color: var(--headertop-btn-sub);
}
.form-container .form-info .info-contact p{
    line-height: 25px;
    font-size: 16px;
    color: var(--texto);
}
.form-container .form-info .info-contact p a{
    line-height: 25px;
    font-size: 16px;
    color: var(--btnslider);
}
.form-container .form-info .consulta-info{
    width: 100%;
}
.form-container .form-info .consulta-info .consulta > i{
    display: inline-block;
    padding: 20px;
    background-color: var(--btndoctor);
    border-radius: 5px;
    margin-top: 20px;
    font-size: 45px;
    color: #fff;
    margin-bottom: 20px;
}
.form-container .form-info .consulta-info .consulta h2{
    font-size: 30px;
    font-weight: 500;
    color: var(--headertop-btn-sub);
}
.form-container .form-info .consulta-info .consulta > ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 15px;
    color: var(--texto);
}
.form-container .form-info .consulta-info .consulta > ul > li i{
    color: var(--btndoctor);
    margin-right: 15px;
    font-size: 16px;
}
.form-container form{
    width: 50%;
    background-color: #fff;
    box-shadow: 0px 3px 30px 0px rgba(24.00000126050871, 22.000001393193834, 43.0000000000001, 0.14);
    border-radius: 15px;
    padding: 50px 65px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    transform: translateY(-100px);
}
.form-container form input, .form-container form textarea{
    width: 100%;
    border: 1px solid #ededed;
    padding: 15px 25px;
    font-size: 16px;
    margin: 15px 0;
    border-radius: 5px;
}
.form-container form button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--btndoctor);
    height: 50px;
    width: 170px;
    color: #ffffff;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

/*-------- FOOTER --------*/
.footer {
    background-color: var(--footer);
    height: 390px;
    position: relative;
}
.footer-content{
    padding-top: 70px;
}
.row-footer{
    display: flex;
    justify-content: space-between;
}
.row-footer section{
    width: calc(100% / 3 - 40px);
}
.dr-footer-section p{
    color: #ffffff;
    font-size: 16px;
}
.ubicanos-footer{
    width: fit-content;
}
.ubicanos-footer h3{
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
}
.ubicanos-footer p{
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
}
.ubicanos-footer ul {
    width: 80%;
}
.ubicanos-footer ul li{
    margin-bottom: 14px;
}
.ubicanos-footer ul li i {
    margin-right: 6px;
}
.ubicanos-footer ul li a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
}

.contactenos-footer h3{
    font-size: 25px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
}
.contactenos-footer p{
    font-size: 17px;
    color: #ffffff;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 12px;
}
.contactenos-footer h3 + ul li i {
    margin-right: 6px;
}
.contactenos-footer ul li a{
    font-size: 16px;
    color: #ffffff;
    font-weight: 400;
}
.links-reades-footer{
    gap: 10px;
    display: flex;
}
.links-reades-footer li a i{
    color: var(--color-icono);
}

.links-reades-footer li a{
    color: var(--btnslider);
    background-color: #ffffff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.copyright{
    width: 100%;
    background-color: var(--copyright);
    height: 70px;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.textcopy p{
    color: #ffffff;
}
