@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --color-icono : #325070;
    --headertop-btn-sub : #0E3C80;
    --btnslider: #223D80;
    --btndoctor: #F5AD38;
    --navletter: #2B2B2B;
    --especialidades: #457baa;
    --texto: #545454;
    --footer: #33566F;
    --copyright: #335369;
    --colorTriangle: #f18e00;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    font-family:  'Roboto', sans-serif;
    outline: none;
    transition: .2s;
}
.container{
    margin: 0 auto;
    max-width: 1280px;
}
main img{
    width: 60%;
    aspect-ratio: 16 / 9;
    padding: 0px 20px 0px 0px;
}
.bannerCategory{
    display: flex;
    justify-content: center;
    position: relative;
}
.bannerCategory img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.bannerCategory .txtBanner{
    width: 100%;
    height: 100%;
    justify-content: left;
    position: absolute;
    align-items: center;
    display: flex;
}
.bannerCategory h1{
    color: #ffff;
    font-size: 38px;
    z-index: 10;
    font-weight: bold;
}

.bannerCategory span{
    color: #ffff;
    font-size: 28px;
    font-weight: 400;
}

.primary-info{
    display: flex;
    width: 100%;
}
.primary-info p{
    width: 40%;
    padding: 0px 0px 0px 20px;
    margin: auto;
    font-weight: 400;
    color: var(--texto);
    font-size: 16px;
}
.primary-info p span{
    color: var(--headertop-btn-sub);
    font-weight: 500;  
    font-size: 16px;
}
.second-info{
    display: flex;
    width: 100%;
}
.second-info p{
    width: 40%;
    padding: 0px 20px 0px 0px;
    margin: auto;
    font-weight: 400;
    color: var(--texto);
    font-size: 16px;
}
.second-info p span{
    color: var(--headertop-btn-sub);
    font-weight: 500;  
    font-size: 16px;
}


.iconInfo{
    background-color: #F5F5F5;
    padding: 0;
}
.iconInfo .iconos{
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 20px 20px;
}

.iconInfo .iconos .incon i{
    color: #0092D2;
    font-size: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--btnslider);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.iconInfo .iconos .incon h3{
    margin-top: 15px;
    color: var(--btnslider);
    display: flex;
    font-weight: 500;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.iconInfo .iconos .incon p{
    margin-top: 5px;
    font-size: 16px;
    color: var(--texto);
    display: flex;
    justify-content: center;
    align-items: center;
}

