:root{
    --color-icono : #325070;
    --headertop-btn-sub : #0E3C80;
    --btnslider: #223D80;
    --btndoctor: #F5AD38;
    --navletter: #2B2B2B;
    --especialidades: #457baa;
    --texto: #545454;
    --footer: #33566F;
    --copyright: #335369;
}

@media screen and (max-width: 1280px){
     /*____ Content ____*/
    .container{
        margin: 0 auto;
        max-width:  1200px;
        width: 100%;
    }
    /*____ NAVBAR ____*/
    .navbar .navbar__content {
        justify-content: space-between;
    }
    .navbar .navbar__content > .logoDr{
        width: 15%;
    }
    .navbar img{
        width: 100%;
    }
    .nav ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*____ BLOG ____*/
    .contenido-blog{
        padding: 0px 20px;
    }
    
    /*____ CONSULTAS ____*/
    
    
    /*____ FOOTER ____*/
    .row-footer {
        display: flex;
        justify-content: space-evenly;
    }
    .copyright {
        text-align: center;
    }

    
}

@media screen and (max-width: 1050px) {
    .btn-nav{
        background-color: var(--headertop-btn-sub);
        color: #ffffff;
        height: 46px;
        width: 150px;
        cursor: pointer;
        justify-content: space-evenly;
    }
    .nav ul .btn-nav p{
        margin: 0;
    }
    .contenido-blog .details-blog article {
        flex-direction: column;
        margin: auto;
        justify-content: center;
    }
    .contenido-blog .details-blog article > img {
        width: 90%;
        border-radius: 15px;
        margin-right: 15px;
    }
    .contenido-blog .details-blog article .textBlog {
        width: 90%;
        height: max-content;
    }
}   

@media screen and (max-width: 990px){
    .container{
        max-width: 95%;
    }
    /*____ HEADER ____*/
    .information a, .information a i{
        text-decoration: none;
        color: #ffffff;
        margin-right: 10px;
        font-size: 13px;
    }
    .links-redes ul li{
        background-color: #ffffff;
        margin-left: 10px;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    /*____ NAVBAR ____*/
    .navbar .navbar__content > .logoDr{
        width: 220px;
    }
    .logoDr img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .nav ul li a{
        font-weight: 500;
        font-size: 12px;
    }
    .nav ul .btn-nav a{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        margin: 0 5px;
    }
    /*____ SLIDER ____*/
    .content-slider h2{
        font-size: 36px;
    }
    .content-slider p{
        font-size: 24px;
    }
    .container-slider > li .content-slider .btnSlider{
        width: max-content;
        background-color: var(--btnslider);
        padding: 12px 26px;
        border-radius: 30px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    .container-slider > li{
        width: 100%;
        height: 400px;
    }
    /*____ ESPECIALIDADES ____*/
    .especialidades .row aside a {
        width: 100%;
        box-sizing: border-box;
        min-height: 1px;
        margin: 15px 0px;
        min-height: 1px;
    }
    .especialidades .row aside a {
        width: calc(100% / 2 - 1.5rem);
        margin: 0 0.75rem;
    }

    /*____ INFORMACION DOCTOR ____*/
    .dr-section{
        flex-direction: column;
        align-items: center;
    }
    .dr-section > img{
        margin-bottom: 30px;
    }
    .btn-dr{
        margin-top: 35px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .about-dr{
        padding: 30px 12px;
    }
    .about-dr p{
        font-size: 16px;
    }
    .estudios{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 20px;
        padding: 0px 12px;
        margin-top: 30px;
    }
    .estudios div{
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;   
        width: 100%;
        
    }
    .estudios div:first-child img{
        width: 120px;
        height: 80px;
    }
    .estudios div img{
        width: 80px;
        max-width: 100%;
    }
    .estudios div:last-child{
        grid-column: span 1;
    }
    .estudios div p {
        padding: 30px 0px;
        font-size: 16px;
    }

    /*____ BLOG ____*/
    .contenido-blog .details-blog article {
        display: flex;
        flex-wrap: wrap;
        
    }
    .contenido-blog .details-blog article:not(article:nth-child(2)):not(article:last-child){
        align-items: flex-start;
    }
    .contenido-blog .details-blog article:not(article:nth-child(1)):not(article:nth-child(3)){
        align-items: flex-end;
    }
    .contenido-blog .details-blog article > img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 0;
    }
    .contenido-blog .details-blog article .textBlog{
        width: 100%;
        margin-top: 10px;
    }

    .contenido-blog .details-blog article p{
        font-size: 16;
    }
    /*____ FORM ____*/
    .formulario{
        height: auto;
        padding-bottom: 0;
    }
    .form-container form{
        width: 50%;
        background-color: #fff;
        box-shadow: 0px 3px 30px 0px rgba(24.00000126050871, 22.000001393193834, 43.0000000000001, 0.14);
        border-radius: 15px;
        padding: 20px 35px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        transform: translateY(-100px);
    }
    .form-container .form-info .info-contact h2{
        font-size: 28px;
    }
    .form-container .form-info .info-contact p{
        font-size: 16px;
    }
    .form-container .form-info .info-contact p a{
        font-size: 16px;
    }
    .form-container .form-info .consulta-info .consulta > i{
        padding: 10px;
        font-size: 30px;
    }
    .form-container .form-info .consulta-info .consulta h2{
        font-size: 28px;
    }
    .form-container .form-info .consulta-info .consulta > ul > li i{
        font-size: 12px;
    }
    /*____ FORMULARIO ____*/
    .footer{
        height: 670px;
    }
    .row-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row-footer > section{
        width: 100%;
    }
    .dr-footer-section{
        margin: 0px 0px 20px 0px;
    }
    .ubicanos-footer{
        margin: 20px 0px;
    }

    /*____ PAGINA ABOUT ____*/
    .title-about-dr h1{
        font-size: 40px;
        font-weight: 500;
    }
    .title-about-dr h3{
        font-size: 20px;
        font-weight: 500;
    }
    /*____ ESTUDIOS REALIZADOS ____*/

    .title-about2 h2{
        font-size: 26px;
        color: #0E3C80;
        font-weight: 500;
    }
    .infoEspecialidad p {
        font-size: 16px;
    }
    .secciones .titlemem h2{
        font-size: 16px;
    }
    
    .about .container{
        width: 90%;
    }
    .estudiosrealizados{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .informaciondoctor{
        width: 100%;
    }
    .estudiosrealizados .especialidades{
        padding: 0px 0px 50px 0px;  
    }
    .estudiosrealizados .especialidad{
        display: flex;
        justify-content: left;
    }
    .estudiosrealizados .especialidad .infoEspecialidad{
        width: 75%;
    }
    .estudiosrealizados .especialidad p{
        width: 100%;
        margin-bottom: 14px;
        padding: 0px;
        font-size: 16px;
    }
    .secciones{
        width: 100%;
    }
    .secciones .titlemem {
        display: flex;
        align-items: center;
        justify-content: left;
        align-items: center;
        padding: 1rem;
        background-color: #0e3c80;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
        width: 100%;
    }
    .secciones .membresias{
        width: 100%;
    }
    .secciones .formentrena{
        width: 100%;
    }
    .secciones .acticientifica{
        width: 100%;
    }
    .secciones .evencientifica{
        width: 100%;
    }
    .secciones .listas{
        width: 100%;
    }
}
@media screen and (max-width: 950px) {
    .navbar .navbar__content > .logoDr{
        width: 150px;
    }
}
@media screen and (max-width: 768px){
    .container{
        max-width: 90%;
    }
    /*____ INFORMACION HEADER ____*/
    .header-info{
        height: 60px;
    }
    .information a, .information a i{
        text-decoration: none;
        color: #ffffff;
        margin-right: 10px;
        display: flex;
        font-size: 16px;
    }
    .links-redes ul li{
        background-color: #ffffff;
        margin-left: 10px;
        height: 35px;
        width: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    /*____ NAVBAR ____*/
    
    .menu-icon{
        display: block;
    }
    .navbar .navbar__content > .logoDr{
        width: 220px;
    }
    .nav ul {
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        padding: 20px 30px;
    }
    .nav ul .logoDr{
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    .nav ul li{
        margin: 10px 0px;
    }
    .nav ul li a{
        font-size: 14px;
        margin: 0;
        font-weight: 500;
    }
    .nav.active {
        transform: none;
    }
    .nav {
        position: fixed;
        top: 0;
        left: 0;    
        width: 40%; 
        height: 100vh;
        background-color: #fff; 
        transition: transform 0.3s ease; 
        z-index: 1000;
        overflow-y: auto;
        transform: translateX(-100%);
        box-shadow: 0 0 10px #00000055;
    }
    .btn-nav{
        background-color: var(--headertop-btn-sub);
        color: #ffffff;
        margin: 10px 0 0 0;
        height: 46px;
        width: 100%;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        cursor: pointer;
    }
    .menu-icon p{
        cursor: pointer; 
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        color: #2B2B2B;
        font-weight: 500;
    }
    .menu-icon i{
        color: #223D80;
        font-size: 30px;
        margin-left: 10px;
    }
    .nav ul li:not(:last-child) a::before {
        content: none;
        width: auto;
        height: auto;
        background-color: initial;
        transition: none;
    }
    .nav ul li a:hover::before {
        width: auto;
    }
    /*____ SLIDER ____*/
    .content-slider h2{
        font-size: 28px;
    }
    .content-slider p{
        font-size: 20px;
    }
    .container-slider > li .content-slider .btnSlider{
        width: max-content;
        background-color: var(--btnslider);
        padding: 12px 20px;
        border-radius: 30px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    .container-slider > li{
        width: 100%;
        height: 400px;
    }
    /*____ INFORMACION DOCTOR ____*/
    .dr-section{
        flex-direction: column;
        align-items: center;
    }
    .dr-section > img{
        margin-bottom: 30px;
    }
    .btn-dr{
        margin-top: 35px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .about-dr{
        padding: 30px 12px;
    }
    .estudios{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 20px;
        padding: 0px 12px;
    }
    .estudios div{
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;   
        width: 100%;
        
    }
    .estudios div:first-child img{
        width: 120px;
        height: 80px;
    }
    .estudios div img{
        width: 80px;
        max-width: 100%;
    }
    .estudios div:last-child{
        grid-column: span 1;
    }
    .estudios div p {
        padding: 30px 0px;
    }


    /*____ BLOG ____*/
    .contenido-blog .details-blog {
        display: flex;
        flex-direction: column;
        margin: 40px 0;
    }
    
    .contenido-blog .details-blog article {
        width: 100%; 
        padding: 10px 0;
        margin-bottom: 20px; 
    }
    
    .contenido-blog .details-blog article > img {
        width: 100%;
        border-radius: 15px;
        margin-bottom: 15px; 
    }
    
    .contenido-blog .details-blog article .textBlog {
        width: 100%; 
    }

    /*____ FORMULARIO ____*/
    .form-container{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .form-container form{
        transform: none;
        width: 100%;
        margin: 20px 0 40px 0;
    }
    .form-container .form-info{
        width: 100%;
    }
    .form-container .form-info .info-contact h2{
        font-size: 24px;
    }
    .form-container .form-info .info-contact p{
        font-size: 16px;
    }
    .form-container .form-info .info-contact p a{
        font-size: 16px;
    }
    .form-container .form-info .consulta-info .consulta > i{
        padding: 10px;
        font-size: 26px;
    }
    .form-container .form-info .consulta-info .consulta h2{
        font-size: 24px;
    }
    .form-container .form-info .consulta-info .consulta > ul > li i{
        font-size: 10px;
    }
    .form-container .form-info .consulta-info .consulta > ul > li {
        font-size: 16px;
    }
    .form-container form button{
        height: 40px;
        width: 160px;
        font-size: 16px;
    }
    
    /*____ FOOTER ____*/
    .footer-content{
        padding-top: 70px;
    }
    .ubicanos-footer h3{
        font-size: 23px;
        margin-top: 15px;
    }
    .ubicanos-footer p{
        font-size: 17px;
    }
    /*____ PAGINA ABOUT ____*/
    /*____ ESTUDIOS REALIZADOS ____*/
    .title-about2 h2{
        font-size: 24px;
        color: #0E3C80;
        font-weight: 500;
    }
    .infoEspecialidad p {
        font-size: 16px;
    }
    .secciones .titlemem h2{
        font-size: 16px;
    }

    
}
@media screen and (max-width: 576px){
    .container{
        max-width: 90%;
    }

    /*____ INFORMACION ____*/

    .information a, .information a i{
        text-decoration: none;
        color: #ffffff;
        margin-right: 10px;
        display: flex;
        font-size: 14px;
    }

    /*____ NAVBAR ____*/
    .nav {
        width: 50%;
    }
    .nav ul li:not(:last-child) a::before {
        content: none;
        width: auto;
        height: auto;
        background-color: initial;
        transition: none;
    }
    .nav ul li a:hover::before {
        width: auto;
    }
    .btn-nav{
        background-color: var(--headertop-btn-sub);
        color: #ffffff;
        margin: 10px 0 0 0;
        height: 46px;
        width: 100%;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }   
    
    /*____ SLIDER ____*/
        
    .slider-indicators {
        position: relative;
        top: 270px;
    }
    .slider-indicators li{
        border: 2px solid var(--btnslider);
    }
    .content-slider h2{
        font-size: 22px;
    }
    .content-slider p{
        font-size: 16px;
    }
    .container-slider > li .content-slider .btnSlider{
        width: max-content;
        background-color: var(--btnslider);
        padding: 8px 14px;
        border-radius: 30px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
    }
    .container-slider > li{
        width: 100%;
        height: 250px;
    }   
    /*____ ESPECIALIDADES ____*/
    .esp-title h3{
        font-size: 28px;
    }
    .esp-title p{
        font-size: 14px;
    }
    .especialidades .row aside a {
        width: 100%;
        margin: 0;
    }
    .servi-card {
        text-align: center;
        border-radius: 15px;
    }
    .blanco {
        color: #ffffff;
    }
    .servi-card h4 {
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
    
    /*____ PARTE DEL DOCTOR ____*/

    .dr-section{
        flex-direction: column;
        align-items: center;
    }
    .dr-section > img{
        margin-bottom: 30px;
    }
    .btn-dr{
        margin-top: 35px;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .title-about h1{
        font-size: 28px;
    }
    .about-dr{
        padding: 30px 12px;
    }
    .about-dr p{
        font-size: 14px;
    }
    .estudios{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        gap: 20px;
        padding: 0px 12px;
    }
    .estudios div{
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        margin-bottom: 20px;   
        width: 100%;
        
    }
    .estudios div:first-child img{
        width: 120px;
        height: 80px;
    }
    .estudios div img{
        width: 80px;
        max-width: 100%;
    }
    .estudios div:last-child{
        grid-column: span 1;
    }
    .estudios div p {
        padding: 30px 0px;
        font-size: 14px;
    }

    /*____ BLOG ____*/
    .contenido-blog .details-blog article:not(article:nth-child(2)):not(article:last-child){
        padding: 0;
    }
    .contenido-blog .details-blog{
        margin: 0;
    }
    .title-blog h2{
        font-size: 28px;
    }
    .title-blog p{
        color: var(--texto);
        font-size: 14px;
        margin-bottom: 25px;
    }
    .textBlog h3{
        font-size: 16px;
    }
    .textBlog p{
        font-size: 14px;
    }
    .textBlog a{
        font-size: 14px;
    }
    .btnVerTodos{
        background-color: var(--headertop-btn-sub);
        color: #ffffff;
        height: 46px;
        width: 151px;
        font-size: 14px;

    }

    /*____ FORMULARIO ____*/
    .form-container{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .form-container form{
        transform: none;
        width: 100%;
        margin: 20px 0 40px 0;
    }
    .form-container .form-info{
        width: 100%;
    }
    .form-container .form-info .info-contact h2{
        font-size: 22px;
    }
    .form-container .form-info .info-contact p{
        font-size: 14px;
    }
    .form-container .form-info .info-contact p a{
        font-size: 14px;
    }
    .form-container .form-info .consulta-info .consulta > i{
        padding: 10px;
        font-size: 24px;
    }
    .form-container .form-info .consulta-info .consulta h2{
        font-size: 22px;
    }
    .form-container .form-info .consulta-info .consulta > ul > li i{
        font-size: 10px;
    }
    .form-container .form-info .consulta-info .consulta > ul > li {
        font-size: 14px;
    }
    .form-container form button{
        height: 40px;
        width: 140px;
        font-size: 14px;
    }
    /*____ FOOTER ____*/
    .footer{
        height: 700px;
    }
    .row-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .row-footer > section{
        width: 100%;
    }
    .dr-footer-section{
        margin: 0px 0px 20px 0px;
    }
    .ubicanos-footer{
        margin: 20px 0px;
    }
    /*____ PAGINA ABOUT ____*/
    .title-about-dr h1{
        font-size: 30px;
        font-weight: 500;
    }
    .title-about-dr h3{
        font-size: 18px;
        font-weight: 500;
    }
    /*____ ESTUDIOS REALIZADOS ____*/
    .title-about2 h2{
        font-size: 24px;
        color: #0E3C80;
        font-weight: 500;
    }
    .infoEspecialidad p {
        font-size: 14px;
    }
    .secciones .titlemem h2{
        font-size: 14px;
    }
    .estudiosrealizados{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .informaciondoctor{
        width: 100%;
    }
    .estudiosrealizados .especialidades{
        padding: 0px 0px 50px 0px;  
    }
    .estudiosrealizados .especialidad{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .estudiosrealizados .especialidad .infoEspecialidad{
        width: 100%;
    }
    .estudiosrealizados .especialidad p{
        width: 100%;
        margin: 0px 0px 14px 0px;
        padding: 0px;
    }
    .infomembresia .membresia{
        display: flex;
        flex-direction: column;
    }
    .membresia p{
        font-size: 14px;
    }
    .infomembresia h3{
        font-size: 22px;
        color: #545454;
    }
    .infomembresia ul li{
        font-size: 14px;
    }
    
}
@media (min-width: 361px) and (max-width: 510px) {
    .container{
        width: 90%;
    }
    /*-------- CONTENIDO INFORMACION HEADER --------*/
    .header-info{
        background-color: var(--headertop-btn-sub);
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentInformation{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .information{
        width: 100%;
        justify-content: left;
        align-items: center;
    }
    .links-redes ul li{
        background-color: #ffffff;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 10px;

    }
    .information a, .information a i{
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
    }
    .links-redes ul li a{
        text-decoration: none;
        color: var(--color-icono);
        font-size: 10px;
    }
     /*____ NAVBAR ____*/
    .navbar .navbar__content > .logoDr{
        width: 180px;
        height: 40px;
    }
    .nav {
        width: 60%;
    }
    /*____ ESPECIALIDADES ____*/
    .esp-title h3{
        font-size: 22px;
    }
    .esp-title p{
        font-size: 12px;
    }
    /*____ PARTE DEL DOCTOR ____*/
    .dr-section > img{
        margin-bottom: 30px;
        height: 400px;
        width: 300px;
    }
    .title-about h1{
        font-size: 24px;
    }
    .about-dr p{
        font-size: 12px;
    }
    .btn-dr{
        color: #ffffff;
        text-transform: uppercase;
        background-color: var(--btndoctor);
        font-weight: 600;
        font-size: 12px;
        height: 40px;
        width: 200px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .estudios div{
        color: #ffffff;
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;   
        width: 100%;
        
    }
    .estudios div p {
        padding: 30px 0px;
        font-size: 12px;
    }
    /*____ BLOG ____*/
    .title-blog h2{
        font-size: 22px;
    }
    .title-blog p{
        color: var(--texto);
        font-size: 12px;
        margin-bottom: 25px;
    }
    .textBlog h3{
        font-size: 16px;
    }
    .textBlog p{
        font-size: 12px;
    }
    .textBlog a{
        font-size: 12px;
    }
    .btnVerTodos{
        background-color: var(--headertop-btn-sub);
        color: #ffffff;
        height: 40px;
        width: 120px;
        font-size: 12px;
    }
    /*____ FORMULARIO ____*/
    .form-container .form-info{
        width: 100%;
        padding: 0px 10px;
    }
    .form-container form input, .form-container form textarea{
        width: 100%;
        border: 1px solid #ededed;
        padding: 15px 15px;
        font-size: 14px;
        margin: 15px 0;
        border-radius: 5px;
    }
    .form-container .form-info .info-contact h2{
        font-size: 22px;
    }
    .form-container .form-info .info-contact p{
        font-size: 12px;
    }
    .form-container .form-info .info-contact p a{
        font-size: 12px;
    }
    .form-container .form-info .consulta-info .consulta > i{
        padding: 10px;
        font-size: 22px;
    }
    .form-container .form-info .consulta-info .consulta h2{
        font-size: 22px;
    }
    .form-container .form-info .consulta-info .consulta > ul li{
        font-size: 12px;
    }
    .form-container .form-info .consulta-info .consulta > ul > li i{
        font-size: 8px;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .form-container form{
        transform: none;
        width: 100%;
        margin: 20px 0 40px 0;
        padding: 10px 20px;
    }
    .form-container .form-info{
        width: 100%;
    }
    .form-container form button{
        height: 40px;
        width: 120px;
        font-size: 12px;
    }
    /*____ FOOTER ____*/
    .dr-footer-section p{
        font-size: 14px;
        margin-top: 10px;
    }
    .ubicanos-footer h3{
        font-size: 22px;
    }
    .ubicanos-footer p{
        font-size: 16px;
    }
    .ubicanos-footer ul li a{
        font-size: 14px;
    }
    .contactenos-footer h3{
        font-size: 22px;
    }
    .contactenos-footer p{
        font-size: 16px;
    }
    .contactenos-footer ul li a{
        font-size: 14px;
    }
    .links-reades-footer li a{
        height: 25px;
        width: 25px;
    }
    .textcopy p{
        color: #ffffff;
        font-size: 14px;
    }
}
@media (max-width: 360px) {
    .container{
        width: 90%;
    }
    /*-------- CONTENIDO INFORMACION HEADER --------*/
    .header-info{
        background-color: var(--headertop-btn-sub);
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contentInformation{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    .information{
        width: 100%;
        justify-content: left;
        align-items: center;
    }
    .links-redes ul li{
        background-color: #ffffff;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-left: 10px;

    }
    .information a, .information a i{
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
    }
    .links-redes ul li a{
        text-decoration: none;
        color: var(--color-icono);
        font-size: 10px;
    }
    
    .navbar .navbar__content > .logoDr{
        width: 180px;
        height: 40px;
    }
    .nav {
        width: 65%;
    }
    /*____ ESPECIALIDADES ____*/
    .esp-title h3{
        font-size: 22px;
    }
    .esp-title p{
        font-size: 12px;
    }
    /*____ PARTE DEL DOCTOR ____*/
    .dr-section > img{
        margin-bottom: 30px;
        height: 400px;
        width: 300px;
    }
    .title-about h1{
        font-size: 24px;
    }
    .about-dr p{
        font-size: 12px;
    }
    .estudios div{
        color: #ffffff;
        font-size: 12px;
        text-align: center;
        margin-bottom: 20px;   
        width: 100%;
        
    }
    .estudios div p {
        padding: 30px 0px;
        font-size: 12px;
    }
    /*____ BLOG ____*/
    .title-blog h2{
        font-size: 22px;
    }
    .title-blog p{
        color: var(--texto);
        font-size: 12px;
        margin-bottom: 25px;
    }
    .textBlog h3{
        font-size: 16px;
    }
    .textBlog p{
        font-size: 12px;
    }
    .textBlog a{
        font-size: 12px;
    }
    .btnVerTodos{
        background-color: var(--headertop-btn-sub);
        color: #ffffff;
        height: 40px;
        width: 120px;
        font-size: 12px;
    }
    /*____ FORMULARIO ____*/
    .form-container .form-info{
        width: 100%;
        padding: 0px 10px;
    }
    .form-container form input, .form-container form textarea{
        width: 100%;
        border: 1px solid #ededed;
        padding: 15px 15px;
        font-size: 14px;
        margin: 15px 0;
        border-radius: 5px;
    }
    .form-container .form-info .info-contact h2{
        font-size: 22px;
    }
    .form-container .form-info .info-contact p{
        font-size: 12px;
    }
    .form-container .form-info .info-contact p a{
        font-size: 12px;
    }
    .form-container .form-info .consulta-info .consulta > i{
        padding: 10px;
        font-size: 22px;
    }
    .form-container .form-info .consulta-info .consulta h2{
        font-size: 22px;
    }
    .form-container .form-info .consulta-info .consulta > ul li{
        font-size: 12px;
    }
    .form-container .form-info .consulta-info .consulta > ul > li i{
        font-size: 8px;
    }
    .form-container{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .form-container form{
        transform: none;
        width: 100%;
        margin: 20px 0 40px 0;
        padding: 10px 20px;
    }
    .form-container .form-info{
        width: 100%;
    }
    .form-container form button{
        height: 40px;
        width: 120px;
        font-size: 14px;
    }
    /*____ FOOTER ____*/
    .dr-footer-section p{
        font-size: 12px;
        margin-top: 10px;
    }
    .ubicanos-footer h3{
        font-size: 20px;
    }
    .ubicanos-footer p{
        font-size: 14px;
    }
    .ubicanos-footer ul li a{
        font-size: 12px;
    }
    .contactenos-footer h3{
        font-size: 20px;
    }
    .contactenos-footer p{
        font-size: 14px;
    }
    .contactenos-footer ul li a{
        font-size: 12px;
    }
    .links-reades-footer li a{
        height: 25px;
        width: 25px;
    }
    .textcopy p{
        color: #ffffff;
        font-size: 12px;
    }
}
@media (max-width: 280px){
    
}

